@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --black-color: #000000;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --yellow-color:#FFFF00;
}
body {
  background-color: #FFFFFF;
}
.bottom.collapse_sidebar { /* background color sa settings */
  background-color: #000000;
  color: #ffffff;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--yellow-color); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px; /* para ma adjust ang space sa yellow */
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.navbar_content .name {
   font-weight: bold;
   font-size: 20px;
    color: var(--black-color);          
 }
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.dashboard-text {
  letter-spacing: 1px; /* sa dashboard*/
  font-size: 22px;
  margin-left: 50px;
 }

.navbar img { /* pic */
  width: 45px;
  height: 35px;
  border-radius: 50%;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: auto;
}
.navbar_content i { /* sa katong notifications */
  cursor: pointer;
  font-size: 23px;
  color: var(--black-color);
}
/* sidebar */
.sidebar { /* para sa add income na color */
  background-color: var(--black-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.menu_title { /* para ma usab ang fonts sa kilid*/
  margin: 15px 0;
  padding: 0 20px;
  font-size: 28px;
}

.sidebar .nav_link { 
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px 15px; /*spacing sa kuan add income*/
  border-radius: 8px;
  text-decoration: none;
  color: var(--white-color); /*para ma usab ang color sa add income*/
  /*white-space: nowrap;*/
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  
  .sidebar.close .bottom_content {
    left: -100%;
  }
}